<a href="https://colab.research.google.com/github/krutikacoding/curly-robot/blob/main/Krutika%20DAY%205%20Data%20Structure%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [126]:
# create empty list, name it 'a'
a = []

In [127]:
# print the value of a

print(a)

[]

In [128]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [129]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [130]:
print("The number of languages is :", len(languages))

The number of languages is : 5

Using for loop iterate and print all the elements in the list

In [131]:
for item in languages:
  print(item)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [132]:
temp = languages[1]

Print the value of temp and type(temp)

In [133]:
print(temp)
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [134]:
languages.append("Java")
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [135]:
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [136]:
colors = ["Red", "Blue", "White"]

Append the element 'Black' to colors

In [137]:
colors.append("Black")
print(colors)

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [138]:
colors.insert(1, "Orange")
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [139]:
colors2 = ["Grey", "Sky Blue"]

Add the elements of colors2 to colors using extend function in the list

In [140]:
colors.extend(colors2)
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [141]:
print(len(colors))
for elment in colors:
  print(elment)

7
Red
Orange
Blue
White
Black
Grey
Sky Blue

Sort the list and print it.

In [142]:
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [143]:
sent = "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [144]:
words = list(sent.split(" "))
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [145]:
words_lower = []
for word in words:
  words_lower.append(word.lower())

print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [146]:
if "country" in words_lower:
  print("Yes, country word is in the list")
else :
  print("No, country word is not in the list")

No, country word is not in the list

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [147]:
words_lower.remove("the")
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [148]:
x4 = words_lower[:4]

In [149]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [150]:
var1 = " ".join(words_lower)
print(var1)

coronavirus caused lockdowns around world.

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [151]:
stud_grades = ["A", "A", "B", "C", "C", "F"]

Print the len of stud_grades

In [152]:
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [153]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [154]:
print(stud_grades_set)

{'C', 'F', 'B', 'A'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [155]:
print(type(stud_grades))
print(type(stud_grades_set))

print("List elements are: ")
for item in stud_grades:
  print(item)

print("Set elements are: ")
for item in stud_grades_set:
  print(item)

<class 'list'>
<class 'set'>
List elements are:
A
A
B
C
C
F
Set elements are:
C
F
B
A

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [156]:
stud_grades_set.add("G")
print(stud_grades_set)

{'A', 'C', 'G', 'B', 'F'}

Add element 'F' to stud_grades_set. and print it.

In [157]:
stud_grades_set.add("F")
print(stud_grades_set)

{'A', 'C', 'G', 'B', 'F'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [158]:
stud_grades_set.remove("F")
print(stud_grades_set)

{'A', 'C', 'G', 'B'}

Print the elements and the length of stud_grades_set

In [159]:
print(len(stud_grades_set),"\n")

for item in stud_grades_set:
  print(item)

4

A
C
G
B

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [160]:
colors = ["red","blue","orange"]
fruits = ["orange","grapes","apples"]
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Print color and fruits

Create colors_set, and fruits_set. (using set() ) and print them

In [161]:
colors_set = set(colors)
fruits_set = set(fruits)

print(colors_set)
print(fruits_set)

{'red', 'blue', 'orange'}
{'grapes', 'apples', 'orange'}

Find the union of both the sets.

In [162]:
union1 = fruits_set.union(colors_set)
print(union1)

{'grapes', 'apples', 'orange', 'red', 'blue'}

Find the intersection of both the sets

In [163]:
intersection1 = fruits_set.intersection(colors_set)
print(intersection1)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [164]:
diff = fruits_set.difference(colors_set)
print(diff)

{'grapes', 'apples'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [165]:
temp = [17, "Virat", 50.00]
print(temp)

[17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [166]:
for elem in temp:
  print(elem)

17
Virat
50.0

replace first element with 11 in temp

In [167]:
temp.remove(17)
temp.insert(0, 11)
print(temp)

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [168]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [169]:
for elem in temp1:
  print(elem)

11
Virat
50.0

replace first element with 17 in temp1

In [170]:
#temp1.remove(17)
#temp1.insert(0, 11)
#print(temp1)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [171]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [172]:
for item in city:
  print(item)

Bangalore
28.9949521
72

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [173]:
city2 = ("Chennai", 30.01, 74)

Create cities which consist of city and city2

In [174]:
cities = (city, city2)

Print cities

In [175]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

print the type of cities

In [176]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [177]:
d = {
    "actor":"amir",
    "animal":"cat",
    "earth":"2",
    "list":[23,32,12]
}

Print the value of d[0]

In [178]:
#print(d[0])

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [179]:
actor = d["actor"]
print(actor)

amir

Print the type of actor

In [180]:
print(type(actor))

<class 'str'>

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [181]:
list_1 = d["list"]
print(list_1)

[23, 32, 12]

Print the type of List.

In [182]:
print(type(list_1))

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [183]:
d1 = {
      "singer":"Kri$na",
      "album":"Still here",
      "genre":"hip-hop"
}

Merge d1 into d.

In [184]:
d.update(d1)
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': '2', 'list': [23, 32, 12], 'singer': 'Kri$na', 'album': 'Still here', 'genre': 'hip-hop'}

print d

In [185]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': '2', 'list': [23, 32, 12], 'singer': 'Kri$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [186]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [187]:
print(d.values())

dict_values(['amir', 'cat', '2', [23, 32, 12], 'Kri$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [188]:
for key, value in d.items():
  print(f"{key} ----> {value}")

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> Kri$na
album ----> Still here
genre ----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [191]:
print(sent)
alphabet = "abcdefghijklmnopqrstuvwxyz"
list_alpha = list(alphabet)
print(list_alpha)

dict_1 = {}

for ind, item in enumerate(list_alpha):
  dict_1[alphabt[ind]] = sent.count(item)
print(dict_1)

Coronavirus Caused Lockdowns Around The World.
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
{'a': 2, 'b': 0, 'c': 1, 'd': 4, 'e': 2, 'f': 0, 'g': 0, 'h': 1, 'i': 1, 'j': 0, 'k': 1, 'l': 1, 'm': 0, 'n': 3, 'o': 6, 'p': 0, 'q': 0, 'r': 4, 's': 3, 't': 0, 'u': 3, 'v': 1, 'w': 1, 'x': 0, 'y': 0, 'z': 0}